@using ChannelEngine.Business.Models.ViewModels;
@model ProductsViewModel

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Top 5 Products</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="container my-4">
    <h2>Top (max) 5 Products by the total quantity sold </h2>

    @if (Model?.Products?.Any() == true)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>GTIN</th>
                    <th>Quantity in orders</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Products)
                {
                    <tr>
                        <td>@p.MerchantProductNo</td>
                        <td>@(string.IsNullOrEmpty(p.Gtin) ? "-" : p.Gtin)</td>
                        <td>@p.TotalQuantity</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>No products found</strong>
        </div>
    }
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">
            <strong>Error encountered:</strong>
            <p>@errorMessage</p>
        </div>
    }
    else if (!string.IsNullOrEmpty(Model?.LastUpdatedProductNo))
    {
        <div class="alert alert-success">
            Stock updated: <strong>@Model.LastUpdatedProductNo</strong><br />
            (GTIN: @Model.LastUpdatedProductGtin)<br />
            New stock quantity: <strong>@Model.LastUpdatedQuantity</strong>
        </div>
    }
</body>
</html>
